# ============================================
# REDIS
# ============================================

# Redis standalone
REDIS_HOST=${PROJECT_PREFIX:-redis}${PROJECT_PREFIX:+-redis}
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_MAXMEMORY=4gb
REDIS_MAXMEMORY_POLICY=allkeys-lru

# Redis Cluster
REDIS_CLUSTER_HOST=${PROJECT_PREFIX:-redis-cluster}${PROJECT_PREFIX:+-redis-cluster}
REDIS_CLUSTER_PORT=6379
REDIS_CLUSTER_PASSWORD=
REDIS_CLUSTER_MAXMEMORY=8gb
