# ============================================
# KAFKA
# ============================================

KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=${PROJECT_PREFIX:-kafka}${PROJECT_PREFIX:+-kafka}:9092
KAFKA_CLUSTER_ID=
KAFKA_NUM_PARTITIONS=6
KAFKA_LOG_RETENTION_HOURS=168

KAFKA_UI_PORT=8081
KAFKA_UI_CLUSTER_NAME=cluster
