# ============================================
# KAFKA
# ============================================

KAFKA_BOOTSTRAP_SERVERS=${PROJECT_PREFIX:-kafka}${PROJECT_PREFIX:+-kafka}:9092
KAFKA_CLUSTER_ID=
KAFKA_HEAP_OPTS=-Xms512m -Xmx2g
KAFKA_NUM_PARTITIONS=3
KAFKA_DEFAULT_REPLICATION_FACTOR=1

KAFKA_UI_PORT=8081
